
.container a {
    color: #e64809;
    text-decoration: none;
}
.link {
    color: #e64809;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.navbar-brand img {
    width: 120px;
}
.avatar {
  border-radius: 50%;
}