
.link {
    color: #e64809;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.navbar-brand img {
    width: 120px;
}
#background{
    background-color: #04A2EC;
    padding-top: 108px;
}
#avatar-image{
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
#profilename{
    margin-top: 6px;
    margin-bottom: 12px;
}
#alias{
    margin-top: 6px;
    margin-bottom: 26px;
}
#work p{
    padding-bottom : 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
#work, #profilename{
    display: -webkit-inline-flex;
}
#avatar-user p {
    font-size : 15px;
}
#avatar-user h3, #avatar-user p{
    color: white;
}
#tab {
    margin-top: 36px;
}
#user-logo-kecil {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.nav-item .dropdown .dropdown-right{
    position: relative;
}
#navs .nav-link {
    color: black;
}
#navs .nav-link:hover {
    color: black;
    font-weight: bold;
}
.onsite{
    color: black;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px;
    border-color: #e64809;
}
#tab {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: outset;
}

.container {
    width: 100%;
}
#WPNavbar {
    display: flex;
    height: 52px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}