
.container a {
    color: #e64809;
    text-decoration: none;
}
.link {
    color: #e64809;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.navbar-brand img {
    width: 120px;
}
#user-logo-kecil {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.nav-item .dropdown .dropdown-right{
    position: relative;
}